body{
    padding: 100px;
}

#logo{
    width: 100px;
    margin: auto;
    display: block;
}

.cadastro{
    padding: 50px;
    border: 1px solid rgb(146, 144, 144);
    border-radius: 10px;
    width: 300px;
    margin: auto;
    
}
.inpu{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
}

.genero{
    margin-bottom: 20px;
}

.sub{
    color: white;
    background-color: #080808;
    font-weight: bold;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
}

.sub:hover{
    background: rgb(34, 33, 33);
    color: white;
}

.face{
    color: white;
    background-color: #3b5998;
    font-weight: bold;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
}

.face:hover{
    background: #4465ac;
    color: white;
}



.google{
    color: black;
    background-color: white;
    font-weight: bold;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
}

.google:hover{
    background:rgba(192, 180, 180, 0.411);
    color: black;
}

.criar{
    text-decoration: none;
    color: black;
    margin-left: 200px;  
}

.criar:hover{
    text-decoration: underline;
    color: blue;
}


@media screen and (max-width: 500px) {
    body {
        padding: 0;
    }

    #logo{
        width: 100px;
        margin: auto;
        display: block;
    }
    
    .cadastro{
        padding: 50px;
        border: 1px solid rgb(146, 144, 144);
        border-radius: 10px;
        width: 250px;
        
    }
    .inpu{
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding: 10px;
    }

    .genero{
        margin-bottom: 20px;
    }

    .sub{
        color: white;
        background-color: #080808;
        font-weight: bold;
        padding: 7px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding: 10px;
        border: none;
    }

    .face{
        color: white;
        background-color: #3b5998;
        font-weight: bold;
        padding: 7px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding: 10px;
        border: none;
    }



    .google{
        color: black;
        background-color: white;
        font-weight: bold;
        padding: 7px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding: 10px;
    }

    h1{
        text-align: center;
    }

    .criar{
        text-decoration: underline;
        color: blue; 
        margin-left: 150px;  
    }
    
    
}